
<div class="videolucas">
  <h5>オンボード画面</h5>
  <iframe
  src="https://www.youtube.com/embed/5sOC82XC5pk?rel=0&showinfo=0"
  frameborder="0" allowfullscreen>
  </iframe>
  <h5>俯瞰画面</h5>
   <iframe
  src="https://www.youtube.com/embed/5sOC82XC5pk?rel=0&showinfo=0"
  frameborder="0" allowfullscreen>
  </iframe>

    <h4>タイム </h4>
    <h3><strong>0:40</strong></h3>
    
</div>