
<div class="videolucas">
  <h5>オンボード画面</h5>
  <iframe
  src="https://www.youtube.com/embed/wp74WB08eb4?rel=0&showinfo=0"
  frameborder="0" allowfullscreen>
  </iframe>
  <h5>俯瞰画面</h5>
   <iframe
  src="https://www.youtube.com/embed/53PWWda4NiU?rel=0&showinfo=0"
  frameborder="0" allowfullscreen>
  </iframe>

    <h4>タイム </h4>
    <h3><strong>39.797</strong></h3>
    
</div>