<div class="lucasprofile">
    <%= image_tag("lucas.jpg", :class => "lucasimg", :hspace => "20px", :vspace => "20px") %>
    <br />
    <h3>ルーカス・ディ・グラッシ</h3><br />
       <p>1984年8月11日生<br />
       ブラジル・サンパウロ出身<br />
       身長179cm、体重74kg<br />
       アプト・シェフラー・アウディ・スポーツ所属<br />
       フォーミュラEシーズン3ドライバーズチャンピオン</p>
</div>