 <div class="c-result-table">
<table class="ctable">
  <thead>
        <tr>
      <th width="70%">Driver</th>
      <th width="25%">Time</th>
    </tr>
  </thead>
  <tbody>
       <% @users.each do |user| %>
  
    <tr><td class="rank"><%= link_to_if(user.movie.present?, user.name, movie_path(user)) %></td><td><%= user.time %></td></tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
<div class="pagenater">
<%= paginate @users %>
</div>