<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
     <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=yes">
    
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.10";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<%= render 'logo' %>

<div class="a-head-title">
    <h1>Play Movie </h1>
</div>
<div class="ca-image">
</div>

<div class="ca-video">
 <div class="ca-video-content">
    <div class="ca-video-title">
        <h2>Driver:<%= @user.name %></h2>
    </div>
    <div class="video">
     <%= video_tag @user.movie_url.to_s, :width => "100%", :controls => true %>
     </div>
  </div>

  <div class="ca-sns">
     <div class="addthis_inline_share_toolbox_wa2q"></div>
  </div>


<%= render 'dropup' %>

 
</body>