// Place all the styles related to the ranking controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding-bottom: 30px;
}

.a-head-title {
margin:0 auto;
width: 80%;
padding-bottom: 20px;
background-color: white;
color: green;
}

.a-head-image{
  padding: 180px;
  background-image: url(FE12.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.b-lucas {
text-align: center;
padding: 20px;
padding-bottom: 50px;
}

.b-lucas-video {
margin: 0 auto;
padding: 100px;
width: 200px;
border: 5px double #333333;
}

.c-result {
margin: 0 auto;
background-color:#f0f8ff ;
padding-top: 20px;
padding-bottom: 50px;
}

.c-result-title {
color: green;
}

.c-result-content {
width: 80%;
margin: 0 auto;
}

.ctable {
  width: 100%;
  border-spacing: 0;
  font-size:14px;
   margin-left: auto;
  margin-right: auto;
}
.ctable th {
  color: #fff;
  padding: 8px 15px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #808080), color-stop(1.00, #121212));
background: -webkit-linear-gradient(#808080, #121212);
background: -moz-linear-gradient(#808080, #121212);
background: -o-linear-gradient(#808080, #121212);
background: -ms-linear-gradient(#808080, #121212);
background: linear-gradient(#808080, #121212);
 font-weight: bold;
  border-top:1px solid #aaa;
  border-bottom:1px solid #aaa;
  line-height: 120%;
  text-align: center;
 
  box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
}

.ctable th:first-child {
  border-left:1px solid #aaa;
  border-radius: 5px 0 0 0;	
}
.ctable th:last-child {
  border-radius:0 5px 0 0;
  border-right:1px solid #aaa;
  box-shadow: 2px 2px 1px rgba(0,0,0,0.1);
}
.ctable tr td {
  padding: 8px 15px;
  text-align: center;
}
.ctable tr td:first-child {
  border-left: 1px solid #aaa;
}
.ctable tr td:last-child {
  border-right: 1px solid #aaa;
  box-shadow: 2px 2px 1px rgba(0,0,0,0.1);
}
.ctable tr {
  background: #fff;
}
.ctable tr:nth-child(2n+1) {
  background: #f5f5f5;
}
.ctable tr:last-child td {
  border-bottom:1px solid #aaa;
  box-shadow: 2px 2px 1px rgba(0,0,0,0.1);
}
.ctable tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}
.ctable tr:last-child :last-child {
  border-radius: 0 0 5px 0;
}
.ctable tr:hover {
  background: #eee;
  cursor:pointer;
}



.d-result {
margin: 0 auto;
padding-top: 20px;
}

.d-result-content {
  margin: 0 auto;
  width: 80%;
}

.d-result-title{
color:green;
}

.d-result-table {
margin: 0 auto;
width: 100%;
}
.d-result-table tr {
background-color: Black;
color: white;
text-align: center;
}

.d-result-table th {
  text-align: center;
}

.ba-title {
  margin: 0 auto;
  width: 95%;
  padding-bottom: 20px;
color:green;
}

.ba-head-image {
  padding: 180px;
  background-image: url(result.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color:#f0f8ff
}

.ca-title {
  margin: 0 auto;
  width: 950%;
  padding-bottom: 20px;
color:green;
}

.ca-image {
  padding: 180px;
  background-image: url(back12.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color:#f0f8ff
}


.ca-video {
  margin: 0 auto;
  
  background-color:#f0f8ff ;
  color:green;
}

.ca-video-content {
  margin: 0 auto;
  width: 80%;
   background-color:#f0f8ff ;
  padding-top: 10px;
  padding-bottom: 50px;
}
.video {
margin: 0 auto;
width: 100%;
text-align: center;
}
.ca-sns {
  margin: 0 auto;
  width: 80%;
  padding: 20px;
  float: right;
}

.logos{
  margin: 20px 10px;
   padding: 10px;
  background-image: url(Schaeffler.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 90% 50% ;
  

}

.logoimg {
  margin-left: 50 auto;
}
@media screen and (max-width: 750px){
  
   .a-head-title>h1 {
    font-size: 15pt;
  }

  .b-lucas>h3 {
font-size: 10pt;
  }

  .c-result-title>h2 {
    font-size: 13pt;
  }

.d-result-title>h2 {
  font-size: 13pt;
}

.ba-title>h1 {
  font-size: 15pt;
}

.c-result-title>h2 {
  font-size: 13pt;
}

.d-result-title>h2 {
  font-size: 13pt;
}

.ca-title>h1 {
  font-size: 15pt;
}

.ca-video-title>h2 {
  font-size: 13pt;
}

  .a-head-image {
    padding: 60px;
    background-size:cover;
    background-position:center center;
  }

  .ca-image {
   padding: 80px;
   background-size:cover;
   background-position: 68% center;
   }

  .ba-head-image {
   padding: 80px;
   }
   
  .a-head-title {
    width:95%;
  }
  .c-result-content {
    width: 95%;
  }
  
  .ctable th {
    font-size: 10px;
  }
  
  .d-result-content {
    width: 95%;
  }
  
  .ca-video-content {
    width: 95%;
  }
  
  
  .logos {
    padding: 5px;
    margin: 15px 0px;
  }
  
  .navbar-brand>img {
    height: 50%;
  }
  
 

}